{{! signup.hbs}}

<div class="page page--back">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Реєстрація</h1>

        <div class="form">
            <div class="form__item">
                {{> field action="signupForm.change" label="Ел. адреса" type="email" name="email" placeholder="Ваш e-mail"}}
                {{!-- тут буде жс форми --}}
                <span name="email" class="form__error">Помилка</span>
            </div>
            <div class="form__item">
                {{> field-password action="signupForm.change" label="Пароль" type="password" name="password" placeholder="Введіть пароль"}}
                {{!-- тут буде жс форми --}}
                <span name="password" class="form__error">Увага, невірний пароль!</span>
            </div>
            <div class="form__item">
                {{> field-select action="signupForm.change" label="Роль"  name="роль" placeholder="Оберіть роль" list=data.role}}

                <span name="роль" class="form__error">Помилка</span>
            </div>
            <div class="form__item">
                {{> field-checkbox action="signupForm.change" label="Ви погоджуєтеся з правилами сервіса" name="isConfirm" }}
                {{!-- тут буде жс форми --}}
                <span name="isConfirm" class="form__error">Помилка</span>
            </div>
        </div>

        {{!-- привїяз кнопки для відправки даних по атрибутам onclick="signupForm.submit() --}}
        <button onclick="signupForm.submit()" class="button" type="button">Зареєструватися</button>

        <span class="alert alert--error">Увага, помилка</span>
    </form>
</div>